
#titlearea {
    background-color: #336699; 
    border-bottom: 1px solid #1a446c; 
}

/*navigation tabs (Main Page, Classes, Files) */
.tabs, .tabs2, .tabs3 {
    background-image: none; 
    background-color: #2a5580; 
}

/* color of the active tab */
.tabs2 li.current a {
    background-color: #336699; 
}

/* link color */
a {
    color: #4A90E2; 
}

/* link color when you hover over it */
a:hover {
    color: #81b3f3;
}